.mainpage{
  background-color: white;
  z-index: 2;

}

.atext{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: left;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}
.atext:hover{
  background-color: purple;
  color: wheat;

}

.column{
  width: 100%;
}

.rightcolumn{
  text-align: right;
  background-color: black;
  color: white;
}

body{
  background-color:lightgray;
}

.bodyformat{
  z-index: 1;
  background-color: white;
}

img{
  max-width: 100%;
}

h1{
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

p{
  color:darkgray;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
