.mainpage{
  background-color: white;
  z-index: 2;

}

.atext{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: left;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}
.atext:hover{
  background-color: purple;
  color: wheat;

}

.column{
  width: 100%;
}

.rightcolumn{
  text-align: right;
  background-color: black;
  color: white;
}

body{
  background-color:lightgray;
}

.bodyformat{
  z-index: 1;
  background-color: white;
}

img{
  max-width: 100%;
}

.image:hover{
  border: 3px solid lightseagreen;
}

h1{
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 23px;
}

p{
  color:darkgray;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


img {
  max-width: 100%;
}

#imgsel{
  border: lightseagreen 2px solid;
}

.footer{
  background-color: lightseagreen;
  color: white;
  text-align: center;
  font-weight: bolder;
}

thead{
  background-color: lightseagreen;
  padding: 0mm;
  color: white;
}

td{
  background-color: white;
}

td:hover{
  background-color: plum;
  color: wheat;
}

table{
  height: auto;
  width: auto;
}

h3{
  color: lightseagreen;
  font-weight: bold;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div:hover + h4{
  display: block;
}