  .column {
    width: 100%;
  } 
  
  .latitude{
    background-color: white;
    z-index:2;
  }
  
  .latitude a{
    width: 110px;
    background: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding: 14px;
    margin: 0px 0px 0px 40px;
  }

  .topright{
    background-color: white;
    z-index:2;
  }

  body{
    background-color: lightgray;
  }

h1, h2{
  font-size: 28px;
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100%;
}

#imgsel{
  border: lightseagreen 2px solid;
}