.column {
  width: 100%;
  /* border: black 1px solid; */
  /* Font color */
  /* color:blue;  */
}

.latbutton{
  background-color: white;
  z-index:2;
}

.latbutton a{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

.panelcol{
  background-color: white;
  z-index:2;
}

.navbar{
  position: absolute;
  right: 30px;
}

.navbar a{
background-color:white;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightseagreen;
  font-size: 24px;
  font-weight: bold;
  text-align:left;
}

img {
  max-width: 100%;
}

#imgsel{
  border: lightseagreen 2px solid;
}


p{
  color: gray;
  text-align:left;
}

/*This ensures the dropdown appear in front*/
.dropdownfront{
  background-color: white;
  z-index:1;

}

body {
  width: 100%;
  min-height:100%;
  background-color: lightgray;
}
.tableformat{
  background-color: white;
  text-align: center;
  z-index: 1;
}